<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" [routerLink]="['/']">B8bet</a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-7 col-md-9">
        <span class="text-bold">NEXT-GEN ONLINE GAMING</span>
        <h1 class="text-bold"><span class="highlight">THE BEST</span> ONLINE CASINO</h1>
        <p>We have a huge collection of games: from classic casino games like poker, Blackjack and roulette, to
          state-of-the-art slots and a live casino, we have endless entertainment for any player using any device.</p>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <div>
            <a href="https://z.dshfel.com/SUhPm.html" role="button" class="btn btn-outline-light mb-4 me-3" target="_blank">
              <i class="fab fa-apple"></i>
              IOS Native
            </a>
            <a href="assets/res/B8bet.mobileconfig" role="button" class="btn btn-outline-light mb-4 me-lg-3"
              download>
              <i class="fab fa-apple"></i>
              IOS Lite
            </a>
          </div>
          <div>
            <a href="assets/res/B8BET-APK.apk" role="button" class="btn btn-outline-light mb-4" download>
              <i class="fab fa-android"></i>
              Android
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-3">
        <img src="assets/images/banner.png" class="img-fluid">
      </div>
    </div>
  </div>
</header>