.master-head {
  height: 100vh;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
  color: #fff;
  background: #241d56;

  .container {
    background: #241d56;
  }
}

.navbar {
  background: #4b47fd;

  a {
    color: #fff;
  }
}

.highlight {
  color: #fd295a;
}

.text-bold {
  font-weight: bold;
}